body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

button {
    pointer-events: auto; /* Ensure the button is clickable */
    position: relative;
    z-index: 10; /* Ensure button is on top */
    cursor: pointer;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.header-container {
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
}

.header .left {
    font-size: 24px;
    color: #f9faf9;
    font-weight: bold;
}

.header-extended {
    display: flex;
    padding-top: 96px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
}

.box {
    flex: 1;
}

.img {
    background: gray;
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.img .text {
    color: #f9faf9;
}

.signup-button {
    background-color: #3882f6;
    font-weight: 600;
    color: #f9faf9;
    font-size: 18px;
    padding: 12px 36px;
    border: 0;
    border-radius: 12px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf9;
    padding: 0;
    margin: 0;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 16px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}

.info .text {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    gap: 48px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 4px solid #3882f6;
}

.text-box {
    max-width: 150px;
}

.quote-container {
    background: #e5e7eb;
    padding: 72px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quoter {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.action-container {
    display: flex;
    justify-content: center;
}

.action-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    background: #3882f6;
    margin: 96px;
    padding: 36px;
    border-radius: 12px;
}

.call-text {
    color: #f9faf9;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

.action-box p {
    margin: 0px;
}

.action-box .signup-button {
    border: 2px solid #f9faf9;
}

.footer {
    color: #e5e7eb;
    padding: 24px;
    font-size: 18px;
    text-align: center;
}
